venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
db.sqlite3
.env
.vscode/
.idea/
*.log
staticfiles/
media/
generated_excels/
front/sensor_app/build/
front/sensor_app/.dart_tool/
front/sensor_app/.flutter-plugins
front/sensor_app/.flutter-plugins-dependencies
front/sensor_app/.packages
front/sensor_app/pubspec.lock
